<!DOCTYPE html>
<html lang="en-EN">

<head>
    <title>Nemesis - Station</title>
</head>

<body>

    <a href="/station">Station</a> | <a href="/player">Player</a> |
    <a href="/room?room={{room}}">Location</a> | Rooms | Settings | User: {{user}}


    <form action="/create_player" method="POST">
        <p>
        <label for="character">Character:</label>
            <select id="character" name="character">
                <option>PILOT</option>
                <option>CAPITAN</option>
                <option>SCIENTIST</option>
                <option>SCOUT</option>
                <option>SOLDIER</option>
                <option>MECHANIC</option>
            </select>

        <label for="color">Color:</label>
        <select id="color" name="color">
            <option>GREEN</option>
            <option>RED</option>
            <option>BLUE</option>
        </select>
        
        <input type="submit" value="Create">
        </p>
    </form>

    <p style="color:{{msg_color}};">{{msg}}</p>

    <br><br>
    <form action="/reset" method="POST">
        <p>
        <label for="room">Reset game:</label>
        <input type="submit" value="Reset">
        <p style="color:Tomato;">All data will be lost!</p>
        </p>
    </form>


</body>

</html>
